// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$white: #FFFFFF;
$white-a: darken($white, 3%);
$white-b: darken($white, 6%);
$white-c: darken($white, 12%);
$white-d: darken($white, 24%);

$black: rgba(#000000, .8);
$black-a: lighten($black, 10%);
$black-b: lighten($black, 20%);
$black-c: lighten($black, 40%);
$black-d: lighten($black, 60%);

$theme-color-1: #00e9d5;
$theme-color-2: #ae75e7;
$theme-color-3: #5e5874;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #f2c400,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  background:(
    base: #1B93C0,
    contrast: $black-b
  ),
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

ion-header {
  .toolbar {

    .toolbar-background {
      background: transparent;
    }
    .toolbar-title {
      color: map-get($colors, primary);
    }
  }
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  display: none;
}

.tabs-md .tabbar {
  background-color: map-get($colors, primary) !important;
}

.tabs-md .tab-button-icon {
  color: #fff !important;

}

.tabs-md .tab-button[aria-selected=true] {
  border-bottom: 2px solid #6562a4;
}



ion-menu {
	.menu-content
	{
		background-color: color($colors, background, base);
	}

	.menu-list
	{
		//margin: 20vh 0px 0px !important;

		.item
		{
			background-color: color($colors, background, base);
			padding-right: 32px;
      text-align: center;
      padding: 10px 0px;
      display: block;
			&:first-child
			{
				border-top: solid 1px rgba($white-d, 0.15);
			}

			&:last-child
			{
				border-bottom: solid 1px rgba($white-d, 0.15);
			}

			.item-inner
			{
				border-bottom: 1px solid rgba($white-d, 0.15);
				font-size: 1.8rem;
				font-weight: 300;
				letter-spacing: 1px;
				color: #fff;
        width: 100%;
        padding-right: 0px;
        margin: 0px !important;
			}

			.item-icon
			{
        transition-duration: 0ms;
        text-decoration: none;
        color: #fff;
        margin: 0px;
        font-size: 40px;
        margin: 0px !important;
        position: relative;
        top: 8px;
			}
      .label-md {
        text-overflow: unset;
white-space: normal;
      }

			&.activated
			{
  			transition-duration: 0ms;
        text-decoration: none;
				.item-inner
				{
					color: $white;
				}

				.item-icon
				{
					color: $white;
				}
			}
		}
	}
}

.menu-inner{
    width: 150px !important;
}
