$white: #FFFFFF;
$white-a: darken($white, 3%);
$white-b: darken($white, 6%);
$white-c: darken($white, 12%);
$white-d: darken($white, 24%);

$black: rgba(#000000, .8);
$black-a: lighten($black, 10%);
$black-b: lighten($black, 20%);
$black-c: lighten($black, 40%);
$black-d: lighten($black, 60%);

$theme-color-1: #00e9d5;
$theme-color-2: #ae75e7;
$theme-color-3: #5e5874;

notifications-page {
	.notifications-content
	{
		.notifications-divider
		{
			font-size: 1.2rem;
			font-weight: 500;
			letter-spacing: 0.9px;
			color: #f2c400;

			&:not(:first-child)
			{
				padding-top: 30px;
			}
		}

		.notification-item
		{
			padding: 5px 0px 20px 0px;
			border: none;
			align-items: flex-start;
			border-bottom: 1px solid #ececec;
	    border-left: 1px solid #ececec;
			margin-left: 50px;
			padding-left: 95px;
			padding-right: 50px;
			position: relative;


			.notif-icon {
				position: absolute;
		    left: -17px;
		    width: 35px;
		    border-radius: 50%;
		    top: 13px;
			}

			&:last-child {
				border-bottom: 0px;
			}

			&:first {
				margin-top: 40px;
			}

			.item-inner
			{
				padding: 0px;
				padding-left: 12px;
				border: none;
				margin-top: 8px;

				ion-label {
					margin: 0px;
				}
			}

			.item-title
			{
				font-size: 1.4rem;
				font-weight: 500;
				letter-spacing: 0.2px;
				color: $theme-color-2;
				margin-bottom: 4px;
			}

			.item-description
			{
				font-size: 1.4rem;
				letter-spacing: 0.2px;
				color: #1D1D26;
				text-overflow: initial;
			  overflow: initial;
			  white-space: initial;
			}

			.item-time
			{
				font-size: 1.2rem;
				font-weight: 500;
				color: $white-d;
				margin: 0px;
				padding-left: 8px;
				align-self: flex-start;
			}
		}
	}

	.notification-group {
		margin-top: 40px;
	}

	ion-item-group {
		margin-left: 30px;
		margin-top: 30px;
	}

	.date {
		position: absolute;
    left: 35px;
    top: 20px;
    font-size: 11px;
    color: #c2c2c2;
	}

	.from {
		font-weight: 800;
		color: #F44E4B;
	}

	.tags {
		color: #f2c400;
		display: block;
	}
}
